@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

@theme {
  --font-oswald: Oswald, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-oswald);
  }

  body {
    font-family: var(--font-montserrat);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start fully hidden */
  }
  to {
    opacity: 1; /* Fade in to full visibility */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1; /* Start fully visible */
  }
  to {
    opacity: 0; /* Fade out to fully hidden */
  }
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;                /* Initially invisible */
    transform: translateY(10px);  /* Slightly pushed down */
  }
  100% {
    opacity: 1;                /* Fully visible */
    transform: translateY(0);     /* In its original position */
  }
}

@keyframes fadeOutRing {
  0% {
    border-opacity: 1;
  }
  100% {
    border-opacity: 0;
  }
}

@keyframes backgroundZoom {
  from {
    background-size: 110%; /* Start zoomed-in */
  }

  to {
    background-size: 100%; /* Settle to the original size */
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 2s ease-out 1.5s forwards; /* Waits 1.5s before starting the fade-in */
  }

  .animate-fade-out {
    animation: fadeOut 2s ease-out 1.5s forwards; /* Waits 1.5s before starting the fade-out */
  }

  .animate-card-fade-in {
    animation: fadeIn 2s ease-out 0s forwards; /* Waits 0s before starting the fade-in */
  }

  .animate-button-fade-in {
    animation: fadeIn 2s ease-out 2s forwards; /* Waits 2s before starting the fade-in */
  }

  .animate-slide-fade-in {
    animation: slideFadeIn 2s ease-out forwards;
  }

  .animate-slide-fade-in-delay {
    animation: slideFadeIn 2s ease-out 0.5s forwards; /* Adds a 0.5s delay */
    opacity: 0; /* Ensures hidden until delay starts */
  }

  .animate-background-zoom {
    animation: backgroundZoom 15s ease-out forwards; /* 15s zoom effect */
  }
}